:root {
  --primary: #34bcf6;
  --secondary: #18181b;
  --secondary-1: #1a1d24;
  --secondary-2: #27272b;
  --secondary-3: #3f3f46;
  --secondary-4: #5fd3ff;
  --white: #ffffff;
  --black: #000000;
  --gray: #9e9e9e;
  --orange: #ff7700;

  --transition-ease: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  --glass-bg: rgba(24, 24, 27, 0.7);
}
